.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 500px;
}

.home-image-container {
  position: relative;
  width: 60%;
 
}

.home-image-container img {
  width: 100%;
  height: auto;
  border-radius: 35px;  
}

.home-image-section {
  flex: 1;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
  text-align: justify;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #e48f0f;
}
/* Mobile view */
@media (max-width: 768px) {
  .home-banner-container {
    flex-direction: column-reverse;
    padding: 2rem 1rem;
  }

  .home-bannerImage-container {
    top: 0;
    right: 0;
    max-width: 70%;
    text-align: center;
  }

  .home-image-container {
    width: 80%;
    margin: 2rem auto;
  }

  .home-image-container img {
    border-radius: 25px;
  }

  .home-text-section {
    text-align: center;
    align-items: center;
  }

  .primary-heading {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    max-width: 90%;
    margin: 1rem auto;
  }

  .primary-text {
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    max-width: 90%;
    margin: 1rem auto;
    color: black;
  }

  .secondary-button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  
  .secondary-button svg {
    font-size: 1.2rem;
  }
}
