.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .search-bar input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    flex: 0 0 calc(33.33% - 128px); /* Adjust the percentage and margin as needed */
    max-width: calc(43.33% - 20px);
    margin: 10px;
  }
  
  .product img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  
  .product button {
    margin-top: 5px;
  }
  .contact-form-container {
    background-color: white;
    max-width: 700px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5rem;
  }
  .contact-form-container input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
  }
  .secondary-button {
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .secondary-button:hover {
    background-color: #e48f0f; 
  }